<phpunit bootstrap="bootstrap.php">
  <testsuites>
  	<testsuite name="Template Parts">
		<directory>tests/model/modules</directory>
		<file>HeadTest.php</file>
    </testsuite>
    <testsuite name="Models">
		<directory>tests/model</directory>
		<file>RouterTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>